*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
   background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f");
  background-size: cover;        /* Ajusta sin deformar */
  background-position: center;   /* Centrada */
  background-repeat: no-repeat;  /* No se repite */
  background-attachment: fixed;  /* Efecto elegante */

  position: relative;
}
body::before{
  content:"";
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background: rgba(255,255,255,0.6); /* transparencia suave */
  z-index:-1;
}

/* HEADER */
header{
  background:#fcf7ec;
  color:#b22234;
  padding:15px;
  text-align:center;
}

/* LIBROS */
.books{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:20px;
  padding:20px;
}

.book{
  background:#fcf7ec;
  border-radius:10px;
  overflow:hidden;
  cursor:pointer;
  transition:0.3s;
}

.book:hover{
  transform:scale(1.05);
}

.book img{
  width:100%;
  height:160px;
  object-fit:cover;
}

.book-title{
  text-align:center;
  padding:10px;
  font-weight:bold;
}

/* ===== LECTOR ESTILO DOCUMENTO ===== */

.reader{
  display:none;
  padding:20px;
  width:100%;
  justify-content:center;
}

.document{
  max-width:700px;
  width:100%;
  background:#fcf7ec;
  border:1px solid #e0d8c8;
  box-shadow:0 25px 50px rgba(0,0,0,0.12); /* más elegante */
  padding:35px;
  border-radius:14px; /* más suave */
}

/* TITULO */
.doc-title{
  font-size:2rem;
  color:#b22234;
  border-left:6px solid #3c3b6e;
  padding-left:10px;
  margin-bottom:20px;
}

/* TEXTO */
.order-text p{
  margin-bottom:1.5em;
  text-align:justify;
  font-size: 20px;
  line-height:1.8em; 
  font-family:Georgia,serif;
}

/* PRIMERA LETRA */
.first-letter::first-letter{
  font-size:3em;
  float:left;
  margin-right:6px;
  color:#b22234;
  font-weight:bold;
}
.phonetic{
  font-size:14px;
  color:#555;
  font-style:italic;
  margin-top:-10px;
  margin-bottom:10px;
  opacity:0.8;
}
/* BOTONES */
button{
  margin-top:2px;
  padding:6px 12px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-size:13px;
  transition:0.3s;
}

/* HOVER EFECTO */
button:hover{
  transform:scale(1.05);
}
.back{
  background:#3c3b6e;
  color:white;
  margin-bottom:15px;
}

.btn-translate{
  background:linear-gradient(-90deg,#3c3b6e,#7876da);
  color:white;
}
  
.btn-pronounce{
  background:linear-gradient(90deg,#b22234,#ff4d4d);
  color:white;
  margin-left:5px;
}

/* TRADUCCION */
.translation{
  display:none;
  margin-top:10px;
  background:#f5efe6;
  padding:10px;
  border-left:4px solid #b22234;
  border-radius:5px;
}
.book-image{
  width:100%;
  height:180px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:20px;
}

.actions{
  display:flex;
  width:100%;/* LOS PONE EN HORIZONTAL */
  align-items:center;
  gap:6px;
  margin-top:5px;
  flex-wrap:wrap;/* para que no se rompa en móviles */
  background:#e6e6e6; 
  border-radius:5px; 
}
.actions button{
  flex:1;              /*todos ocupan el mismo espacio */
  text-align:center;
  background:transparent;
  
}
.actions button:not(:last-child){
  border-right:2px solid #ccc;
}
/* RESPONSIVE */
@media(max-width:600px){
  .document{
    padding:20px;
  }
}

@media(max-width:600px){

  .document{
    padding:15px;
  }

  .doc-title{
    font-size:1.5rem;
  }

  .order-text p{
    font-size: 17px;
    line-height:1.6;
  }


  .btn-pronounce{
    margin-left:0;
  }

}
.btn-mic{
  background:#2e8b57;
  color:white;
  margin-left:5px;
}
.btn-mic{
  margin-left:3px;
}
